Build a regression model.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [7]:
complete_df = pd.read_csv('C:/Users/John/Documents/LHL Lecture Material/Stats-Model-Project/data/complete_df.csv')

In [21]:
complete_df

,name,address,yelp_rating,yelp_total_ratings,yelp_num_res,coordinates,rating,total_photos,total_ratings,num_of_res,num_of_bikes
0,Maha's,226 Greenwood Avenue,4.0,572.0,50.0,"43.665269,-79.319796",NaN,NaN,NaN,NaN,19
1,The Burger's Priest,1636 Queen Street E,3.5,503.0,50.0,"43.665269,-79.319796",NaN,NaN,NaN,NaN,19
2,Chino Locos Original,4 Greenwood Avenue,4.0,190.0,50.0,"43.665269,-79.319796",NaN,NaN,NaN,NaN,19
3,Lahore Tikka House,1365 Gerrard Street E,3.5,542.0,50.0,"43.665269,-79.319796",NaN,NaN,NaN,NaN,19
4,Gio Rana's Really Really Nice Restaurant,1220 Queen Street East,4.0,228.0,50.0,"43.665269,-79.319796",NaN,NaN,NaN,NaN,19
...,...,...,...,...,...,...,...,...,...,...,...
56399,Manulife Centre,55 Bloor St W,NaN,NaN,NaN,"43.666874,-79.381155",6.3,73.0,101.0,50.0,12
56400,Boston Pizza,401 Yonge St,NaN,NaN,NaN,"43.666874,-79.381155",6.3,11.0,12.0,50.0,12
56401,Tim Hortons,581 Parliament St,NaN,NaN,NaN,"43.666874,-79.381155",6.3,2.0,1.0,50.0,12
56402,Subway,2460 Brock Rd N,NaN,NaN,NaN,"43.788319,-79.123505",NaN,0.0,0.0,1.0,23
56403,NaN,NaN,NaN,NaN,NaN,"43.645835578756525,-79.32088910859937",NaN,NaN,NaN,NaN,14

In [15]:
df_removed_limit = complete_df[(complete_df['yelp_num_res'] != 50) & (complete_df['num_of_res'] != 50)]
df_removed_limit

,name,address,yelp_rating,yelp_total_ratings,yelp_num_res,coordinates,rating,total_photos,total_ratings,num_of_res,num_of_bikes
148,The Greater Good Bar,229 Geary Ave,NaN,NaN,NaN,"43.67142,-79.445947",9.1,53.0,59.0,33.0,15
149,Parallel,217 Geary Ave,NaN,NaN,NaN,"43.67142,-79.445947",8.5,19.0,34.0,33.0,15
150,Marcello's Pizzeria,1163 Saint Clair Ave W,NaN,NaN,NaN,"43.67142,-79.445947",8.9,24.0,55.0,33.0,15
151,Rio 40 Restaurant,1256 Saint Clair Ave W,NaN,NaN,NaN,"43.67142,-79.445947",8.1,105.0,106.0,33.0,15
152,Desotos,1079 Saint Clair Ave W,NaN,NaN,NaN,"43.67142,-79.445947",8.6,35.0,51.0,33.0,15
...,...,...,...,...,...,...,...,...,...,...,...
56200,Al Mac's Bar & Grill,2459 Kingston Rd,NaN,NaN,NaN,"43.70643614257429,-79.25104443353288",NaN,0.0,0.0,20.0,11
56201,Chicken Burger Restaurant,2203 Kingston Rd,NaN,NaN,NaN,"43.70643614257429,-79.25104443353288",NaN,0.0,0.0,20.0,11
56202,East West Grill,2478 Kingston Rd,NaN,NaN,NaN,"43.70643614257429,-79.25104443353288",NaN,0.0,0.0,20.0,11
56402,Subway,2460 Brock Rd N,NaN,NaN,NaN,"43.788319,-79.123505",NaN,0.0,0.0,1.0,23
56403,NaN,NaN,NaN,NaN,NaN,"43.645835578756525,-79.32088910859937",NaN,NaN,NaN,NaN,14

In [38]:
fsquare_removed = df_removed_limit[(df_removed_limit['yelp_rating'].notna())].drop(['name','address','coordinates','rating','total_photos','total_ratings','num_of_res'], axis=1)

       yelp_rating  yelp_total_ratings  yelp_num_res  num_of_bikes
2012           4.5                48.0          41.0            23
2013           4.0                84.0          41.0            23
2014           4.5                19.0          41.0            23
2015           4.5                25.0          41.0            23
2016           4.5                14.0          41.0            23
...            ...                 ...           ...           ...
56181          2.5                 2.0          21.0            11
56182          2.5                 3.0          21.0            11
56183          1.0                 1.0          21.0            11
56184          2.0                 1.0          21.0            11
56185          2.0                 1.0          21.0            11

[2949 rows x 4 columns]

In [42]:
y = fsquare_removed['num_of_bikes']
x_yelp = fsquare_removed.drop('num_of_bikes',axis=1)
x_yelp = sm.add_constant(x_yelp)

Provide model output and an interpretation of the results.

In [43]:
model = sm.OLS(y, x_yelp)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.011
Method:                 Least Squares   F-statistic:                     11.66
Date:                Sun, 29 Jan 2023   Prob (F-statistic):           1.35e-07
Time:                        00:01:51   Log-Likelihood:                -8997.2
No. Observations:                2949   AIC:                         1.800e+04
Df Residuals:                    2945   BIC:                         1.803e+04
Df Model:                           3
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 20.5957      0.426     48.320      0.000      19.760      21.431
yelp_rating            0.0284      0.094      0.301      0.763      -0.157       0.213
yelp_total_ratings -4.896e-05      0.002     -0.028      0.977      -0.003       0.003
yelp_num_res          -0.0486      0.008     -5.912      0.000      -0.065      -0.033
==============================================================================
Omnibus:                      185.331   Durbin-Watson:                   0.077
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              220.039
Skew:                           0.652   Prob(JB):                     1.66e-48
Kurtosis:                       3.304   Cond. No.                         296.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [44]:
y = fsquare_removed['num_of_bikes']
x_yelp = fsquare_removed.drop(['num_of_bikes','yelp_total_ratings'],axis=1)
x_yelp = sm.add_constant(x_yelp)
model = sm.OLS(y, x_yelp)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.011
Method:                 Least Squares   F-statistic:                     17.50
Date:                Sun, 29 Jan 2023   Prob (F-statistic):           2.78e-08
Time:                        00:08:34   Log-Likelihood:                -8997.2
No. Observations:                2949   AIC:                         1.800e+04
Df Residuals:                    2946   BIC:                         1.802e+04
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           20.5956      0.426     48.331      0.000      19.760      21.431
yelp_rating      0.0281      0.094      0.300      0.764      -0.155       0.212
yelp_num_res    -0.0486      0.008     -5.915      0.000      -0.065      -0.033
==============================================================================
Omnibus:                      185.288   Durbin-Watson:                   0.077
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              219.978
Skew:                           0.652   Prob(JB):                     1.71e-48
Kurtosis:                       3.304   Cond. No.                         165.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [45]:
y = fsquare_removed['num_of_bikes']
x_yelp = fsquare_removed.drop(['num_of_bikes','yelp_total_ratings','yelp_rating'],axis=1)
x_yelp = sm.add_constant(x_yelp)
model = sm.OLS(y, x_yelp)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.011
Method:                 Least Squares   F-statistic:                     34.92
Date:                Sun, 29 Jan 2023   Prob (F-statistic):           3.83e-09
Time:                        00:09:01   Log-Likelihood:                -8997.2
No. Observations:                2949   AIC:                         1.800e+04
Df Residuals:                    2947   BIC:                         1.801e+04
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           20.6879      0.295     70.169      0.000      20.110      21.266
yelp_num_res    -0.0485      0.008     -5.909      0.000      -0.065      -0.032
==============================================================================
Omnibus:                      185.022   Durbin-Watson:                   0.077
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              219.604
Skew:                           0.651   Prob(JB):                     2.06e-48
Kurtosis:                       3.302   Cond. No.                         113.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [46]:
df_removed_limit = complete_df[(complete_df['yelp_num_res'] != 50) & (complete_df['num_of_res'] != 50)]
df_removed_limit

,name,address,yelp_rating,yelp_total_ratings,yelp_num_res,coordinates,rating,total_photos,total_ratings,num_of_res,num_of_bikes
148,The Greater Good Bar,229 Geary Ave,NaN,NaN,NaN,"43.67142,-79.445947",9.1,53.0,59.0,33.0,15
149,Parallel,217 Geary Ave,NaN,NaN,NaN,"43.67142,-79.445947",8.5,19.0,34.0,33.0,15
150,Marcello's Pizzeria,1163 Saint Clair Ave W,NaN,NaN,NaN,"43.67142,-79.445947",8.9,24.0,55.0,33.0,15
151,Rio 40 Restaurant,1256 Saint Clair Ave W,NaN,NaN,NaN,"43.67142,-79.445947",8.1,105.0,106.0,33.0,15
152,Desotos,1079 Saint Clair Ave W,NaN,NaN,NaN,"43.67142,-79.445947",8.6,35.0,51.0,33.0,15
...,...,...,...,...,...,...,...,...,...,...,...
56200,Al Mac's Bar & Grill,2459 Kingston Rd,NaN,NaN,NaN,"43.70643614257429,-79.25104443353288",NaN,0.0,0.0,20.0,11
56201,Chicken Burger Restaurant,2203 Kingston Rd,NaN,NaN,NaN,"43.70643614257429,-79.25104443353288",NaN,0.0,0.0,20.0,11
56202,East West Grill,2478 Kingston Rd,NaN,NaN,NaN,"43.70643614257429,-79.25104443353288",NaN,0.0,0.0,20.0,11
56402,Subway,2460 Brock Rd N,NaN,NaN,NaN,"43.788319,-79.123505",NaN,0.0,0.0,1.0,23
56403,NaN,NaN,NaN,NaN,NaN,"43.645835578756525,-79.32088910859937",NaN,NaN,NaN,NaN,14

In [48]:
yelp_removed = df_removed_limit[(df_removed_limit['rating'].notna())].drop(['name','address','coordinates','yelp_rating','yelp_total_ratings','yelp_num_res'], axis=1)
yelp_removed

       rating  total_photos  total_ratings  num_of_res  num_of_bikes
148       9.1          53.0           59.0        33.0            15
149       8.5          19.0           34.0        33.0            15
150       8.9          24.0           55.0        33.0            15
151       8.1         105.0          106.0        33.0            15
152       8.6          35.0           51.0        33.0            15
...       ...           ...            ...         ...           ...
56181     6.5          15.0           18.0        20.0            11
56186     7.4           5.0           12.0        20.0            11
56187     7.0           7.0            8.0        20.0            11
56188     6.5           1.0            1.0        20.0            11
56189     5.7           8.0           12.0        20.0            11

[5142 rows x 5 columns]

In [50]:
x_fsquare = yelp_removed.drop('num_of_bikes', axis=1)
y = yelp_removed['num_of_bikes']
x_fsquare = sm.add_constant(x_fsquare)
model = sm.OLS(y,x_fsquare)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     7.736
Date:                Sun, 29 Jan 2023   Prob (F-statistic):           3.27e-06
Time:                        00:24:07   Log-Likelihood:                -15993.
No. Observations:                5142   AIC:                         3.200e+04
Df Residuals:                    5137   BIC:                         3.203e+04
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            21.3357      0.658     32.403      0.000      20.045      22.627
rating           -0.2643      0.079     -3.351      0.001      -0.419      -0.110
total_photos  -8.478e-05      0.002     -0.050      0.960      -0.003       0.003
total_ratings     0.0030      0.002      1.499      0.134      -0.001       0.007
num_of_res       -0.0397      0.009     -4.338      0.000      -0.058      -0.022
==============================================================================
Omnibus:                     1412.737   Durbin-Watson:                   0.124
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4150.868
Skew:                           1.425   Prob(JB):                         0.00
Kurtosis:                       6.355   Cond. No.                     1.14e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.14e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [51]:
x_fsquare = yelp_removed.drop(['num_of_bikes','total_photos'], axis=1)
y = yelp_removed['num_of_bikes']
x_fsquare = sm.add_constant(x_fsquare)
model = sm.OLS(y,x_fsquare)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     10.32
Date:                Sun, 29 Jan 2023   Prob (F-statistic):           9.10e-07
Time:                        00:24:50   Log-Likelihood:                -15993.
No. Observations:                5142   AIC:                         3.199e+04
Df Residuals:                    5138   BIC:                         3.202e+04
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            21.3358      0.658     32.406      0.000      20.045      22.627
rating           -0.2643      0.079     -3.352      0.001      -0.419      -0.110
total_ratings     0.0029      0.001      2.595      0.009       0.001       0.005
num_of_res       -0.0397      0.009     -4.339      0.000      -0.058      -0.022
==============================================================================
Omnibus:                     1412.700   Durbin-Watson:                   0.124
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4150.285
Skew:                           1.425   Prob(JB):                         0.00
Kurtosis:                       6.354   Cond. No.                         818.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [53]:
combined_nonan_df = complete_df.dropna()
combined_nonan_df

,name,address,yelp_rating,yelp_total_ratings,yelp_num_res,coordinates,rating,total_photos,total_ratings,num_of_res,num_of_bikes
11,Casa Di Giorgios,1646 Queen St E,4.0,73.0,50.0,"43.665269,-79.319796",7.4,11.0,24.0,50.0,19
29,Bombay Chowpatty,1386 Gerrard St E,3.0,58.0,50.0,"43.665269,-79.319796",7.3,13.0,15.0,50.0,19
187,Casa Di Giorgios,1646 Queen St E,4.0,73.0,50.0,"43.666224,-79.317693",7.4,11.0,24.0,50.0,23
207,Bombay Chowpatty,1386 Gerrard St E,3.0,58.0,50.0,"43.666224,-79.317693",7.3,13.0,15.0,50.0,23
224,Harvey's,1641 Queen St E,2.0,16.0,50.0,"43.666224,-79.317693",6.5,8.0,15.0,50.0,23
...,...,...,...,...,...,...,...,...,...,...,...
55810,Kost,80 Blue Jays Way,3.5,257.0,50.0,"43.6428899,-79.3946346",7.9,88.0,62.0,50.0,18
55873,Tim Hortons,4000 Jane St,2.5,5.0,33.0,"43.7603624,-79.5162777",6.3,1.0,0.0,30.0,18
56072,El Catrin Destileria,18 Tank House Lane,3.5,1009.0,50.0,"43.653359,-79.365023",8.0,705.0,707.0,50.0,11
56181,Tim Hortons,2294 Kingston Rd,2.5,2.0,21.0,"43.70643614257429,-79.25104443353288",6.5,15.0,18.0,20.0,11
56231,JOEY Eaton Centre,1 Dundas St W,3.5,528.0,50.0,"43.655972,-79.370638",7.8,574.0,571.0,50.0,15

In [54]:
limit_removed_comb_df = combined_nonan_df[(combined_nonan_df['yelp_num_res']!=50) & (combined_nonan_df['num_of_res']!=50)]
limit_removed_comb_df

,name,address,yelp_rating,yelp_total_ratings,yelp_num_res,coordinates,rating,total_photos,total_ratings,num_of_res,num_of_bikes
7604,Casa Di Giorgios,1646 Queen St E,4.0,73.0,43.0,"43.662771,-79.315223",7.4,11.0,24.0,25.0,15
7626,Harvey's,1641 Queen St E,2.0,16.0,43.0,"43.662771,-79.315223",6.5,8.0,15.0,25.0,15
14776,Kyouka Ramen,2222 Queen St E,4.5,133.0,37.0,"43.673831,-79.281455",7.1,23.0,31.0,41.0,18
19477,Hanoi 3 Seasons,1135 Queen St E,3.5,69.0,47.0,"43.660206,-79.3244",8.0,17.0,37.0,32.0,11
25216,Freshii,446 Spadina Rd,2.5,3.0,32.0,"43.685569,-79.408019",5.9,11.0,9.0,29.0,18
27114,Casa Di Giorgios,1646 Queen St E,4.0,73.0,48.0,"43.663162,-79.309765",7.4,11.0,24.0,44.0,27
27138,Harvey's,1641 Queen St E,2.0,16.0,48.0,"43.663162,-79.309765",6.5,8.0,15.0,44.0,27
28449,Keating Channel Pub & Grill,2 Villiers St,4.0,44.0,22.0,"43.641675,-79.354006",5.7,92.0,24.0,20.0,20
31467,Freshii,446 Spadina Rd,2.5,3.0,31.0,"43.688526,-79.412903",5.9,11.0,9.0,37.0,14
34241,Sloppy Joe's Bar & Grill,3527 Lake Shore Blvd W,3.5,73.0,27.0,"43.5927419,-79.54033009999999",7.4,17.0,44.0,40.0,18
34303,Sloppy Joe's Bar & Grill,3527 Lake Shore Blvd W,3.5,73.0,35.0,"43.597082,-79.522768",7.4,17.0,44.0,37.0,19
37114,Coppi Ristorante,3363 Yonge St,3.5,34.0,44.0,"43.732975,-79.40401",7.0,6.0,13.0,40.0,15
37126,McDonald's,3400 Yonge St,1.5,11.0,44.0,"43.732975,-79.40401",5.7,16.0,24.0,40.0,15
37326,Swiss Chalet Rotisserie & Grill,1400 O'Connor Dr,3.5,11.0,23.0,"43.707582,-79.311439",4.6,5.0,27.0,36.0,23
38532,McDonald's,2736 Lakeshore Blvd W,1.5,20.0,44.0,"43.6002896,-79.5108692",5.5,21.0,34.0,37.0,23
39822,McDonald's,2736 Lakeshore Blvd W,1.5,20.0,20.0,"43.6029904,-79.4926867",5.5,21.0,34.0,24.0,19
44745,McDonald's,3400 Yonge St,1.5,11.0,45.0,"43.72814640000001,-79.4032194",5.7,16.0,24.0,28.0,12
45605,Coppi Ristorante,3363 Yonge St,3.5,34.0,46.0,"43.7254665,-79.40115449999999",7.0,6.0,13.0,33.0,23
45621,McDonald's,3400 Yonge St,1.5,11.0,46.0,"43.7254665,-79.40115449999999",5.7,16.0,24.0,33.0,23
46009,Swiss Chalet Rotisserie & Grill,1400 O'Connor Dr,3.5,11.0,20.0,"43.70567,-79.310554",4.6,5.0,27.0,29.0,18
46253,Coppi Ristorante,3363 Yonge St,3.5,34.0,45.0,"43.732016,-79.403637",7.0,6.0,13.0,41.0,15
46270,McDonald's,3400 Yonge St,1.5,11.0,45.0,"43.732016,-79.403637",5.7,16.0,24.0,41.0,15
51672,Freshii,446 Spadina Rd,2.5,3.0,48.0,"43.683979,-79.410657",5.9,11.0,9.0,42.0,15
53739,Kyouka Ramen,2222 Queen St E,4.5,133.0,44.0,"43.68035,-79.28357",7.1,23.0,31.0,41.0,15
53939,Tim Hortons,2294 Kingston Rd,2.5,2.0,24.0,"43.70241858146351,-79.2563167072858",6.5,15.0,18.0,16.0,15
54040,Tim Hortons,2294 Kingston Rd,2.5,2.0,15.0,"43.697490048103,-79.25655146462776",6.5,15.0,18.0,9.0,15
54276,Tim Hortons,2294 Kingston Rd,2.5,2.0,29.0,"43.7105975,-79.2541175",6.5,15.0,18.0,30.0,15
54317,Taste of Shawarma,2488 Dufferin St,3.0,54.0,44.0,"43.69415,-79.45782580000001",5.3,8.0,17.0,42.0,19
54340,Tim Hortons,2700 Dufferin St,1.5,6.0,44.0,"43.69415,-79.45782580000001",5.6,7.0,20.0,42.0,19
54347,Tim Hortons,1801 Eglinton Ave W,1.5,3.0,44.0,"43.69415,-79.45782580000001",7.3,12.0,17.0,42.0,19
54718,Taste of Shawarma,2488 Dufferin St,3.0,54.0,49.0,"43.69466,-79.45376999999999",5.3,8.0,17.0,35.0,14
54745,Tim Hortons,2700 Dufferin St,1.5,6.0,49.0,"43.69466,-79.45376999999999",5.6,7.0,20.0,35.0,14
54749,Tim Hortons,1801 Eglinton Ave W,1.5,3.0,49.0,"43.69466,-79.45376999999999",7.3,12.0,17.0,35.0,14
54959,Just Greek Restaurant,3004 Bloor St W,3.5,51.0,29.0,"43.6492,-79.50601999999999",6.4,13.0,21.0,46.0,15
54966,Merlot Restaurant,2994 Bloor St W,3.0,37.0,29.0,"43.6492,-79.50601999999999",7.5,5.0,14.0,46.0,15
54968,Casa Barcelona,2980 Bloor St W,2.5,42.0,29.0,"43.6492,-79.50601999999999",5.1,6.0,13.0,46.0,15
55719,Tim Hortons,4000 Jane St,2.5,5.0,32.0,"43.7611741,-79.5114452",6.3,1.0,0.0,26.0,18
55873,Tim Hortons,4000 Jane St,2.5,5.0,33.0,"43.7603624,-79.5162777",6.3,1.0,0.0,30.0,18
56181,Tim Hortons,2294 Kingston Rd,2.5,2.0,21.0,"43.70643614257429,-79.25104443353288",6.5,15.0,18.0,20.0,11

In [55]:
final_df = limit_removed_comb_df.drop(['name','address','coordinates'], axis=1)
final_df

,yelp_rating,yelp_total_ratings,yelp_num_res,rating,total_photos,total_ratings,num_of_res,num_of_bikes
7604,4.0,73.0,43.0,7.4,11.0,24.0,25.0,15
7626,2.0,16.0,43.0,6.5,8.0,15.0,25.0,15
14776,4.5,133.0,37.0,7.1,23.0,31.0,41.0,18
19477,3.5,69.0,47.0,8.0,17.0,37.0,32.0,11
25216,2.5,3.0,32.0,5.9,11.0,9.0,29.0,18
27114,4.0,73.0,48.0,7.4,11.0,24.0,44.0,27
27138,2.0,16.0,48.0,6.5,8.0,15.0,44.0,27
28449,4.0,44.0,22.0,5.7,92.0,24.0,20.0,20
31467,2.5,3.0,31.0,5.9,11.0,9.0,37.0,14
34241,3.5,73.0,27.0,7.4,17.0,44.0,40.0,18
34303,3.5,73.0,35.0,7.4,17.0,44.0,37.0,19
37114,3.5,34.0,44.0,7.0,6.0,13.0,40.0,15
37126,1.5,11.0,44.0,5.7,16.0,24.0,40.0,15
37326,3.5,11.0,23.0,4.6,5.0,27.0,36.0,23
38532,1.5,20.0,44.0,5.5,21.0,34.0,37.0,23
39822,1.5,20.0,20.0,5.5,21.0,34.0,24.0,19
44745,1.5,11.0,45.0,5.7,16.0,24.0,28.0,12
45605,3.5,34.0,46.0,7.0,6.0,13.0,33.0,23
45621,1.5,11.0,46.0,5.7,16.0,24.0,33.0,23
46009,3.5,11.0,20.0,4.6,5.0,27.0,29.0,18
46253,3.5,34.0,45.0,7.0,6.0,13.0,41.0,15
46270,1.5,11.0,45.0,5.7,16.0,24.0,41.0,15
51672,2.5,3.0,48.0,5.9,11.0,9.0,42.0,15
53739,4.5,133.0,44.0,7.1,23.0,31.0,41.0,15
53939,2.5,2.0,24.0,6.5,15.0,18.0,16.0,15
54040,2.5,2.0,15.0,6.5,15.0,18.0,9.0,15
54276,2.5,2.0,29.0,6.5,15.0,18.0,30.0,15
54317,3.0,54.0,44.0,5.3,8.0,17.0,42.0,19
54340,1.5,6.0,44.0,5.6,7.0,20.0,42.0,19
54347,1.5,3.0,44.0,7.3,12.0,17.0,42.0,19
54718,3.0,54.0,49.0,5.3,8.0,17.0,35.0,14
54745,1.5,6.0,49.0,5.6,7.0,20.0,35.0,14
54749,1.5,3.0,49.0,7.3,12.0,17.0,35.0,14
54959,3.5,51.0,29.0,6.4,13.0,21.0,46.0,15
54966,3.0,37.0,29.0,7.5,5.0,14.0,46.0,15
54968,2.5,42.0,29.0,5.1,6.0,13.0,46.0,15
55719,2.5,5.0,32.0,6.3,1.0,0.0,26.0,18
55873,2.5,5.0,33.0,6.3,1.0,0.0,30.0,18
56181,2.5,2.0,21.0,6.5,15.0,18.0,20.0,11

In [60]:
x_combo = final_df.drop(['num_of_bikes'], axis=1)
y = final_df['num_of_bikes']
x_combo = sm.add_constant(x_combo)
model = sm.OLS(y,x_combo)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.118
Model:                            OLS   Adj. R-squared:                 -0.081
Method:                 Least Squares   F-statistic:                    0.5915
Date:                Sun, 29 Jan 2023   Prob (F-statistic):              0.758
Time:                        00:33:27   Log-Likelihood:                -105.09
No. Observations:                  39   AIC:                             226.2
Df Residuals:                      31   BIC:                             239.5
Df Model:                           7
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 11.2252      7.825      1.435      0.161      -4.733      27.184
yelp_rating            1.3332      1.332      1.001      0.325      -1.384       4.050
yelp_total_ratings    -0.0411      0.044     -0.944      0.352      -0.130       0.048
yelp_num_res           0.0473      0.086      0.550      0.586      -0.128       0.223
rating                -0.6761      0.887     -0.762      0.452      -2.485       1.132
total_photos           0.0324      0.053      0.606      0.549      -0.077       0.141
total_ratings          0.0749      0.088      0.853      0.400      -0.104       0.254
num_of_res             0.1197      0.095      1.261      0.217      -0.074       0.313
==============================================================================
Omnibus:                        4.206   Durbin-Watson:                   1.393
Prob(Omnibus):                  0.122   Jarque-Bera (JB):                3.463
Skew:                           0.729   Prob(JB):                        0.177
Kurtosis:                       3.054   Cond. No.                         841.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [61]:
x_combo = final_df.drop(['num_of_bikes','rating','yelp_num_res'], axis=1)
y = final_df['num_of_bikes']
x_combo = sm.add_constant(x_combo)
model = sm.OLS(y,x_combo)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.097
Model:                            OLS   Adj. R-squared:                 -0.040
Method:                 Least Squares   F-statistic:                    0.7112
Date:                Sun, 29 Jan 2023   Prob (F-statistic):              0.619
Time:                        00:34:04   Log-Likelihood:                -105.54
No. Observations:                  39   AIC:                             223.1
Df Residuals:                      33   BIC:                             233.1
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                  8.8369      4.802      1.840      0.075      -0.933      18.606
yelp_rating            0.9795      1.152      0.851      0.401      -1.364       3.323
yelp_total_ratings    -0.0401      0.038     -1.049      0.302      -0.118       0.038
total_photos           0.0367      0.052      0.709      0.483      -0.069       0.142
total_ratings          0.0659      0.083      0.795      0.432      -0.103       0.234
num_of_res             0.1468      0.085      1.720      0.095      -0.027       0.320
==============================================================================
Omnibus:                        4.205   Durbin-Watson:                   1.300
Prob(Omnibus):                  0.122   Jarque-Bera (JB):                3.531
Skew:                           0.737   Prob(JB):                        0.171
Kurtosis:                       3.005   Cond. No.                         456.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [62]:
x_combo = final_df.drop(['num_of_bikes','yelp_num_res','total_photos'], axis=1)
y = final_df['num_of_bikes']
x_combo = sm.add_constant(x_combo)
model = sm.OLS(y,x_combo)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.099
Model:                            OLS   Adj. R-squared:                 -0.037
Method:                 Least Squares   F-statistic:                    0.7281
Date:                Sun, 29 Jan 2023   Prob (F-statistic):              0.607
Time:                        00:34:36   Log-Likelihood:                -105.50
No. Observations:                  39   AIC:                             223.0
Df Residuals:                      33   BIC:                             233.0
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 13.5984      7.087      1.919      0.064      -0.821      28.018
yelp_rating            1.0266      1.149      0.894      0.378      -1.310       3.363
yelp_total_ratings    -0.0300      0.040     -0.757      0.454      -0.111       0.051
rating                -0.6339      0.833     -0.761      0.452      -2.328       1.060
total_ratings          0.0735      0.081      0.909      0.370      -0.091       0.238
num_of_res             0.1220      0.081      1.511      0.140      -0.042       0.286
==============================================================================
Omnibus:                        5.659   Durbin-Watson:                   1.307
Prob(Omnibus):                  0.059   Jarque-Bera (JB):                4.746
Skew:                           0.848   Prob(JB):                       0.0932
Kurtosis:                       3.217   Cond. No.                         654.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [63]:
x_combo = final_df.drop(['num_of_bikes','yelp_num_res','total_photos','yelp_total_ratings'], axis=1)
y = final_df['num_of_bikes']
x_combo = sm.add_constant(x_combo)
model = sm.OLS(y,x_combo)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.084
Model:                            OLS   Adj. R-squared:                 -0.024
Method:                 Least Squares   F-statistic:                    0.7766
Date:                Sun, 29 Jan 2023   Prob (F-statistic):              0.548
Time:                        00:35:37   Log-Likelihood:                -105.83
No. Observations:                  39   AIC:                             221.7
Df Residuals:                      34   BIC:                             230.0
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            17.2320      5.182      3.326      0.002       6.701      27.763
yelp_rating       0.3640      0.739      0.493      0.625      -1.138       1.866
rating           -0.8057      0.796     -1.012      0.319      -2.423       0.812
total_ratings     0.0380      0.065      0.581      0.565      -0.095       0.171
num_of_res        0.0944      0.072      1.319      0.196      -0.051       0.240
==============================================================================
Omnibus:                        5.878   Durbin-Watson:                   1.289
Prob(Omnibus):                  0.053   Jarque-Bera (JB):                4.939
Skew:                           0.863   Prob(JB):                       0.0846
Kurtosis:                       3.248   Cond. No.                         347.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [64]:
x_combo = final_df.drop(['num_of_bikes','yelp_num_res','total_photos','yelp_total_ratings','yelp_rating'], axis=1)
y = final_df['num_of_bikes']
x_combo = sm.add_constant(x_combo)
model = sm.OLS(y,x_combo)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.077
Model:                            OLS   Adj. R-squared:                 -0.002
Method:                 Least Squares   F-statistic:                    0.9757
Date:                Sun, 29 Jan 2023   Prob (F-statistic):              0.415
Time:                        00:36:15   Log-Likelihood:                -105.97
No. Observations:                  39   AIC:                             219.9
Df Residuals:                      35   BIC:                             226.6
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            17.1984      5.125      3.356      0.002       6.794      27.603
rating           -0.6734      0.741     -0.909      0.370      -2.178       0.831
total_ratings     0.0438      0.064      0.688      0.496      -0.085       0.173
num_of_res        0.0963      0.071      1.361      0.182      -0.047       0.240
==============================================================================
Omnibus:                        5.646   Durbin-Watson:                   1.299
Prob(Omnibus):                  0.059   Jarque-Bera (JB):                4.695
Skew:                           0.841   Prob(JB):                       0.0956
Kurtosis:                       3.242   Cond. No.                         346.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [65]:
x_combo = final_df.drop(['num_of_bikes','yelp_num_res','total_photos','yelp_total_ratings','yelp_rating','total_ratings'], axis=1)
y = final_df['num_of_bikes']
x_combo = sm.add_constant(x_combo)
model = sm.OLS(y,x_combo)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.065
Model:                            OLS   Adj. R-squared:                  0.013
Method:                 Least Squares   F-statistic:                     1.245
Date:                Sun, 29 Jan 2023   Prob (F-statistic):              0.300
Time:                        00:36:41   Log-Likelihood:                -106.23
No. Observations:                  39   AIC:                             218.5
Df Residuals:                      36   BIC:                             223.5
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         17.5790      5.058      3.476      0.001       7.322      27.836
rating        -0.6033      0.729     -0.828      0.413      -2.081       0.875
num_of_res     0.0985      0.070      1.405      0.169      -0.044       0.241
==============================================================================
Omnibus:                        5.112   Durbin-Watson:                   1.265
Prob(Omnibus):                  0.078   Jarque-Bera (JB):                4.396
Skew:                           0.822   Prob(JB):                        0.111
Kurtosis:                       3.057   Cond. No.                         298.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [66]:
x_combo = final_df.drop(['num_of_bikes','yelp_num_res','total_photos','yelp_total_ratings','yelp_rating','total_ratings','rating'], axis=1)
y = final_df['num_of_bikes']
x_combo = sm.add_constant(x_combo)
model = sm.OLS(y,x_combo)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           num_of_bikes   R-squared:                       0.047
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     1.820
Date:                Sun, 29 Jan 2023   Prob (F-statistic):              0.186
Time:                        00:37:00   Log-Likelihood:                -106.60
No. Observations:                  39   AIC:                             217.2
Df Residuals:                      37   BIC:                             220.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         13.9287      2.468      5.644      0.000       8.928      18.929
num_of_res     0.0939      0.070      1.349      0.186      -0.047       0.235
==============================================================================
Omnibus:                        4.262   Durbin-Watson:                   1.192
Prob(Omnibus):                  0.119   Jarque-Bera (JB):                3.839
Skew:                           0.763   Prob(JB):                        0.147
Kurtosis:                       2.817   Cond. No.                         143.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Stretch

How can you turn the regression model into a classification model?