In [1]:
import numpy as np
import pandas as pd
import os
import json
import requests

In [2]:
toronto_bike_df = pd.read_csv('C:/Users/John/Documents/LHL Lecture Material/Stats-Model-Project/data/toronto_bike_df.csv')
toronto_bike_df['ll'] = toronto_bike_df['lat'].astype(str) + ',' + toronto_bike_df['lon'].astype(str)
toronto_bike_df

           lat        lon  num_of_bikes                                    ll
0    43.665269 -79.319796            19                  43.665269,-79.319796
1    43.671420 -79.445947            15                   43.67142,-79.445947
2    43.666224 -79.317693            23                  43.666224,-79.317693
3    43.653236 -79.376716            24                  43.653236,-79.376716
4    43.663722 -79.380288            13                  43.663722,-79.380288
..         ...        ...           ...                                   ...
648  43.772445 -79.511912            15                  43.772445,-79.511912
649  43.653359 -79.365023            11                  43.653359,-79.365023
650  43.706436 -79.251044            11  43.70643614257429,-79.25104443353288
651  43.655972 -79.370638            15                  43.655972,-79.370638
652  43.666874 -79.381155            12                  43.666874,-79.381155

[653 rows x 4 columns]

In [36]:
def fsquare_stations(coordinates):
    """Put in coordinates to get general information about address within 1000m"""
    url = 'https://api.foursquare.com/v3/places/search'
    categories = '19046'
    foursquare_key = os.environ["FOUR_SQUARE_API"]
    params = {'ll': coordinates,
            'radius': 1000,
            'categories': categories,
            'limit': 50,
            'fields': 'name,location,rating'}
    headers = {'Accept': 'application/json', 'Authorization': foursquare_key}
    response = requests.get(url, params=params, headers=headers).json()
    return response

In [44]:
x = fsquare_stations('43.665269,-79.319796')

In [45]:
x

{'results': [],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 43.665269,
     'longitude': -79.319796},
    'radius': 1000}}}}

In [47]:
# Metro stations
def fsquare_stations_info(coordinates):
    """Put in coordinates to get a dictionary with information about the name, address and number of subways within 1000m"""
    url = 'https://api.foursquare.com/v3/places/search'
    categories = 19046 
    foursquare_key = os.environ["FOUR_SQUARE_API"]
    params = {'ll': coordinates,
            'radius': 1000,
            'categories': categories,
            'limit': 50,
            'fields': 'name,location'}
    headers = {'Accept': 'application/json', 'Authorization': foursquare_key}
    response = requests.get(url, params=params, headers=headers).json()
    subway_dict ={'name':[], 'address': [], 'num_of_stations': [], 'coordinates': []}
    if len(response['results']) == 0:
        subway_dict['name'].append(np.nan)
        subway_dict['address'].append(np.nan)
        subway_dict['num_of_stations'].append(0)
        subway_dict['coordinates'].append(coordinates)
    else:
        for subway in response['results']:
            if 'address' not in subway['location']:
                subway_dict['address'].append(np.nan)
            else:
                subway_dict['address'].append(subway['location']['address'])
            subway_dict['name'].append(subway['name'])
            subway_dict['num_of_stations'].append(len(response['results']))
            subway_dict['coordinates'].append(coordinates)
    return subway_dict

In [48]:
lst_toronto_stations_info = []
for location in toronto_bike_df['ll']:
    lst_toronto_stations_info.append(fsquare_stations_info(location))

In [49]:
lst_fsquare_df = []
for data in lst_toronto_stations_info:
    lst_fsquare_df.append(pd.DataFrame(data))

In [50]:
fsquare_df = pd.concat(lst_fsquare_df)
fsquare_df.to_csv('C:/Users/John/Documents/LHL Lecture Material/Stats-Model-Project/data/fsquare_transit_df.csv', index=False)
fsquare_df

,name,address,num_of_stations,coordinates
0,NaN,NaN,0,"43.665269,-79.319796"
0,NaN,NaN,0,"43.67142,-79.445947"
0,NaN,NaN,0,"43.666224,-79.317693"
0,Dundas Subway Station,300 Yonge St,6,"43.653236,-79.376716"
1,King Subway Station,70 Yonge St,6,"43.653236,-79.376716"
...,...,...,...,...
0,Dundas Subway Station,300 Yonge St,2,"43.655972,-79.370638"
1,King Subway Station,70 Yonge St,2,"43.655972,-79.370638"
0,Wellesley Subway Station,551 Yonge St,3,"43.666874,-79.381155"
1,Bloor-Yonge Subway Station,20 Bloor St E,3,"43.666874,-79.381155"
2,Sherbourne Subway Station,420 Bloor St E,3,"43.666874,-79.381155"

In [40]:
def yelp_stations(coordinates):
    """Put in coordinates to get information about the name,address,ratings,stats, price and popularity within 1000m"""
    url = 'https://api.yelp.com/v3/businesses/search'
    categories = 'trainstations, All' #dining and drinking restaurant
    yelp_key = os.environ['yelp_key']
    params = {'latitude': coordinates.split(',')[0],
            'longitude': coordinates.split(',')[1],
            'radius': 1000,
            'limit': 50,
            'categories': categories}
    headers = {'Accept': 'application/json', 'Authorization': "Bearer " + yelp_key}
    response = requests.get(url, params=params, headers=headers).json()
    return response

In [43]:
x = yelp_stations('43.665269,-79.319796')
x

{'businesses': [],
 'total': 0,
 'region': {'center': {'longitude': -79.319796, 'latitude': 43.665269}}}

In [51]:
def yelp_station_details(coordinates):
    """Put in coordinates to get information about the name,address,ratings,stats, price and popularity within 1000m"""
    url = 'https://api.yelp.com/v3/businesses/search'
    categories = 'trainstations,All' #dining and drinking restaurant
    yelp_key = os.environ['yelp_key']
    params = {'latitude': coordinates.split(',')[0],
            'longitude': coordinates.split(',')[1],
            'radius': 1000,
            'limit': 50,
            'categories': categories}
    headers = {'Accept': 'application/json', 'Authorization': "Bearer " + yelp_key}
    response = requests.get(url, params=params, headers=headers).json()
    yelp_station_details = {'name': [], 'address': [], 'yelp_num_stations': [], 'coordinates': []}
    for locations in response['businesses']:
        if len(response['businesses']) == 0:
            yelp_station_details['name'].append(np.nan)
            yelp_station_details['address'].append(np.nan)
            yelp_station_details['yelp_num_stations'].append(0)
            yelp_station_details['coordinates'].append(coordinates)
        else:
            yelp_station_details['name'].append(locations['name'])
            yelp_station_details['address'].append(locations['location']['display_address'][0])
            yelp_station_details['yelp_num_stations'].append(len(response['businesses']))
            yelp_station_details['coordinates'].append(coordinates)
    return yelp_station_details

In [52]:
list_yelp_details = []
for location in toronto_bike_df['ll']:
    print(location)
    list_yelp_details.append(yelp_station_details(location))

43.665269,-79.319796
43.67142,-79.445947
43.666224,-79.317693
43.653236,-79.376716
43.663722,-79.380288
43.657763,-79.389165
43.656729,-79.382736
43.664467,-79.414783
43.675492,-79.388858
43.674991,-79.396273
43.671944,-79.387778
43.662365,-79.351104
43.646144,-79.377962
43.663993,-79.358534
43.657266,-79.374756
43.6672144,-79.3452697
43.673939,-79.441159
43.657991,-79.340075
43.66745,-79.329408
43.672453,-79.338259
43.6592088,-79.3348396
43.689211,-79.35438
43.655431,-79.380653
43.656927,-79.378497
43.661324,-79.449534
43.658295,-79.372346
43.6940155,-79.2889842
43.6809164,-79.4229684
43.6910667,-79.39535
43.6975969,-79.39654
43.639832,-79.395954
43.667158,-79.402761
43.667333,-79.399429
43.6480008,-79.383177
43.656518,-79.389099
43.658148,-79.398167
43.687999,-79.38906
43.63796,-79.387502
43.6563889,-79.45166666666667
43.639179,-79.399595
43.6322445,-79.4108105
43.6616667,-79.40138888888889
43.66666667,-79.45833333333334
43.657192,-79.452559
43.6576,-79.4032
43.660694,-79.379052
43.636533,-79.395854
43.640132,-79.380464
43.659777,-79.382767
43.643667,-79.380414
43.666233,-79.373327
43.640114,-79.393249
43.6366666666667,-79.4197222222222
43.653766,-79.4016759
43.6587734,-79.443054
43.6538888888889,-79.4413888888889
43.6508333333333,-79.4430555555556
43.651238,-79.43868
43.6544915,-79.422634
43.6543604,-79.4655296
43.635932,-79.465083
43.654501,-79.460053
43.637894,-79.454823
43.634896,-79.467763
43.6535269,-79.4650569
43.6314,-79.4304
43.636731,-79.444966
43.6534268,-79.4512787
43.7112153,-79.39894
43.655227,-79.39201
43.685167,-79.34962
43.6704537,-79.39014
43.6691099,-79.38551
43.641389,-79.404444
43.643834,-79.396649
43.6545174,-79.3895315
43.665846,-79.404998
43.6461,-79.3895
43.671349,-79.29451
43.667208,-79.312315
43.669328,-79.288949
43.672571,-79.289
43.638497,-79.39192
43.662771,-79.315223
43.66852,-79.363525
43.652473,-79.401456
43.643975,-79.419576
43.651318,-79.36023
43.656094,-79.381484
43.670318,-79.405181
43.676667,-79.416111
43.640634,-79.435841
43.639444,-79.423611
43.67,-79.42083333333333
43.671389,-79.416389
43.68,-79.42500000000001
43.6394444,-79.42527777777778
43.675791,-79.40698
43.675556,-79.410278
43.674444,-79.414722
43.671513,-79.408317
43.6783213,-79.35822
43.6848652,-79.356602
43.68395,-79.347046
43.690537,-79.341307
43.704461,-79.423122
43.659195,-79.329196
43.651885,-79.3649
43.682645,-79.377557
43.6475,-79.43305555555555
43.6494896,-79.393535
43.671526,-79.44874
43.6451635,-79.3831757
43.6452972,-79.3827914
43.6452091,-79.3960744
43.6555556,-79.43361111111112
43.678077,-79.390328
43.645665,-79.415345
43.6493472,-79.42668
43.667266,-79.443946
43.660207,-79.361275
43.648655,-79.367061
43.648711,-79.389728
43.6605603,-79.3437663
43.6561111,-79.36138888888888
43.652219,-79.354455
43.650279,-79.356832
43.652686,-79.358395
43.649147,-79.395504
43.643795,-79.375413
43.662085,-79.397735
43.659575,-79.365769
43.65205,-79.362198
43.668456,-79.393899
43.639052,-79.399792
43.6448617,-79.42822
43.6563888888889,-79.4091666666667
43.6409,-79.432837
43.6430555555556,-79.4275
43.660414,-79.415646
43.661975,-79.407896
43.65905,-79.422988
43.66,-79.4088888888889
43.690564,-79.326319
43.686829,-79.311073
43.688325,-79.300463
43.65716,-79.46478
43.6525077,-79.4654233
43.6772,-79.35858
43.662712,-79.379903
43.658938,-79.383518
43.683378,-79.322961
43.6425636,-79.3762
43.6521,-79.4486
43.669969,-79.386532
43.633473,-79.425679
43.630254,-79.420317
43.662403,-79.423098
43.656945,-79.424911
43.6817346,-79.4184725
43.683296,-79.418734
43.673831,-79.281455
43.666325,-79.3014
43.651145,-79.423742
43.654905,-79.398448
43.651118,-79.369411
43.6571,-79.4056
43.650033,-79.396555
43.652823,-79.393388
43.665527,-79.387499
43.6582,-79.3768
43.671172,-79.354704
43.677076,-79.35667
43.680223,-79.344062
43.678401,-79.346289
43.681991,-79.329455
43.6422222,-79.41111111111111
43.663808,-79.410491
43.6666667,-79.41166666666668
43.6638889,-79.41888888888889
43.661705,-79.425734
43.6686111,-79.42027777777778
43.665327,-79.43235
43.657343,-79.43112
43.645324,-79.40345
43.650256,-79.36163
43.65111111111111,-79.4213888888889
43.656296,-79.414663
43.649722,-79.416944
43.651281,-79.411717
43.65277778,-79.42972222
43.655,-79.418889
43.668553,-79.338673
43.663912,-79.327987
43.6462176,-79.3855048
43.69595,-79.328535
43.6753188,-79.3462789
43.6720273,-79.3470557
43.637981,-79.424146
43.640885,-79.416379
43.6552778,-79.36583333333333
43.6712581,-79.376367
43.664524,-79.36793
43.665867,-79.362506
43.648575,-79.380042
43.643473,-79.390477
43.645859,-79.38783
43.662132,-79.3656796
43.640722,-79.391051
43.66207,-79.37617
43.660206,-79.3244
43.668633,-79.291162
43.665801,-79.384796
43.668153,-79.38891
43.657024,-79.377257
43.662862,-79.383572
43.652276,-79.380701
43.7063473,-79.40161
43.6978701,-79.39419
43.696708,-79.40045
43.6476616,-79.37549
43.6487245,-79.36839
43.667819,-79.35347
43.663102,-79.373181
43.64852,-79.380576
43.656026,-79.385327
43.645323,-79.395003
43.677778,-79.405556
43.641646,-79.375308
43.646162,-79.378912
43.687323,-79.304848
43.668991,-79.379385
43.6622222,-79.3825
43.64333333333333,-79.40555555555557
43.6575,-79.39527777777778
43.657424,-79.381019
43.64595,-79.378761
43.668427,-79.38725
43.669604,-79.381171
43.661673,-79.337789
43.665656,-79.352055
43.6308933,-79.4722622
43.6224434,-79.480284
43.66986,-79.398443
43.659471,-79.350325
43.650492,-79.450842
43.640255,-79.439223
43.637922,-79.431734
43.643769,-79.447915
43.649172,-79.4445087
43.663912,-79.416124
43.6458569,-79.3853654
43.66587,-79.33443
43.658816,-79.367318
43.654004,-79.444792
43.6397,-79.44865
43.653809,-79.3595
43.673768,-79.391253
43.654074,-79.398115
43.656638,-79.358749
43.716652,-79.399993
43.684261,-79.299332
43.678685,-79.297974
43.65143,-79.47779
43.64976,-79.48477
43.664182,-79.449066
43.64407,-79.3929
43.61868,-79.48674
43.6442,-79.38702
43.64283,-79.38409
43.65182,-79.47421
43.685569,-79.408019
43.651678,-79.375233
43.651838,-79.378743
43.645653,-79.464366
43.665221,-79.394009
43.688148,-79.362101
43.669232,-79.374495
43.640075,-79.414156
43.678285,-79.347346
43.697139,-79.31469
43.694826,-79.295208
43.673118,-79.318651
43.689293,-79.295895
43.66908,-79.3149
43.66073,-79.47149
43.63121,-79.41414
43.66189,-79.42679
43.65389,-79.4675
43.676697,-79.445029
43.68114,-79.4277
43.663148,-79.347938
43.669813,-79.3335
43.633537,-79.437461
43.663162,-79.309765
43.63632,-79.47307
43.697819,-79.38786
43.638426,-79.429142
43.65988,-79.38279
43.667023,-79.401805
43.66842,-79.410585
43.66402,-79.46418
43.66686,-79.46526
43.671278,-79.372127
43.635023,-79.399505
43.66834,-79.38235
43.65263,-79.38766
43.65158,-79.38655
43.70547,-79.40355
43.641675,-79.354006
43.694341,-79.291416
43.64422,-79.36927
43.685924,-79.376304
43.645215,-79.364898
43.6462574,-79.3973381
43.646677,-79.442741
43.63855,-79.46693
43.645599,-79.4657123
43.674923,-79.430465
43.684758,-79.316767
43.66663,-79.38148
43.685221,-79.294766
43.635492,-79.398253
43.63951,-79.383717
43.641529,-79.386741
43.6417852,-79.4131148
43.655766,-79.3802
43.680466,-79.432522
43.664088,-79.387095
43.65917,-79.46997
43.671535,-79.379173
43.646734,-79.38301
43.6662942,-79.4066433
43.675278,-79.423889
43.648928,-79.378623
43.6509552,-79.3707
43.715951,-79.351246
43.665645,-79.304711
43.645572,-79.39399
43.652777,-79.372637
43.665538,-79.451263
43.650325,-79.372287
43.66943,-79.38915
43.669244,-79.3894
43.688526,-79.412903
43.683351,-79.41562
43.6574766,-79.373446
43.636611,-79.400042
43.646552,-79.406468
43.647259,-79.379878
43.713524,-79.400162
43.65003919999999,-79.3733541
43.653264,-79.382458
43.663376,-79.392125
43.660439,-79.385525
43.659226,-79.390213
43.65995,-79.38964
43.661803,-79.389682
43.660087,-79.385655
43.6146692,-79.4873148
43.626265,-79.476723
43.63771,-79.458173
43.6390437,-79.4760109
43.6486599,-79.4376413
43.6423847,-79.4240277
43.6702236,-79.4360232
43.67883,-79.408723
43.6752732,-79.3778458
43.645469,-79.411084
43.6882821,-79.4253856
43.651603,-79.408346
43.670206,-79.402643
43.661559,-79.413845
43.6560758,-79.393259
43.6580442,-79.3927404
43.6568254,-79.3966159
43.5927419,-79.54033009999999
43.597082,-79.522768
43.6171635,-79.4971065
43.612063,-79.496573
43.63732,-79.489083
43.5961692,-79.5160575
43.613606,-79.4883535
43.664665,-79.489385
43.665523,-79.484892
43.668496,-79.485426
43.698841,-79.519472
43.658574,-79.487246
43.63985,-79.43703
43.665076,-79.341509
43.6323994,-79.40978179999999
43.6935477,-79.3301658
43.6438036,-79.4770327
43.65246,-79.413528
43.6548521,-79.35397680000001
43.630874,-79.482407
43.6704403,-79.45328549999999
43.6535,-79.354068
43.6617908,-79.361515
43.649709,-79.364184
43.666051,-79.374161
43.7005976,-79.397345
43.7029672,-79.3979073
43.68871,-79.39264
43.6834703,-79.5108942
43.7696262,-79.5025943
43.7641485,-79.5012809
43.76521,-79.491281
43.7724019,-79.4675395
43.7781116,-79.467963
43.707049,-79.40966
43.711751,-79.378615
43.732975,-79.40401
43.660274,-79.398049
43.699281,-79.318802
43.707582,-79.311439
43.696631,-79.297436
43.650077,-79.391291
43.6765897,-79.3163022
43.650745,-79.383633
43.720233,-79.362092
43.6926825,-79.441042
43.7041957,-79.4094472
43.7078691,-79.39248
43.591561,-79.545827
43.5880774,-79.5432067
43.754978,-79.1971289
43.6856,-79.3718
43.637764,-79.345359
43.6629228,-79.4018451
43.660296,-79.397107
43.788319,-79.123505
43.7805505,-79.1301203
43.7777114,-79.1659711
43.779353,-79.193023
43.747854,-79.199327
43.7561681,-79.2026694
43.6002896,-79.5108692
43.6615467,-79.498398
43.6632257,-79.4397052
43.680095,-79.291714
43.691468,-79.288619
43.645609,-79.380386
43.6591666666667,-79.3855555555556
43.658777,-79.369596
43.6625395,-79.5030161
43.7004017,-79.4275305
43.77953,-79.45233
43.7774374,-79.4447096
43.6637403,-79.39806449999999
43.707045,-79.375437
43.6495789,-79.3762096
43.6637,-79.400053
43.690903,-79.4375028
43.643253094827294,-79.41230469904167
43.6029904,-79.4926867
43.6596299,-79.4799176
43.6608333,-79.43166666666667
43.66083333333333,-79.43583333333333
43.69933,-79.39199
43.6653032,-79.4701178
43.6162721,-79.4990363
43.720645,-79.355474
43.6641174,-79.4588522
43.6424558,-79.4296346
43.6954486,-79.4026176
43.6850809,-79.3149901
43.6800218,-79.3405681
43.7842419,-79.1849889
43.6451308,-79.36536439999999
43.6482995,-79.3552533
43.65637299999999,-79.38781039999999
43.657838,-79.38631
43.778015,-79.131911
43.672079,-79.470171
43.690237,-79.350119
43.70942,-79.39139
43.671389,-79.382919
43.671561,-79.38117
43.669576,-79.375961
43.669903,-79.387802
43.693256,-79.383238
43.65412449999999,-79.4636388
43.680207,-79.339243
43.6589882,-79.438715
43.6741219,-79.4352208
43.6469928,-79.3706665
43.683884,-79.36647
43.6578449,-79.3899265
43.6477785,-79.3847928
43.6856128,-79.31168269999999
43.681944,-79.390556
43.671771,-79.324961
43.64534,-79.409597
43.6393107,-79.4408141
43.68306889999999,-79.279682
43.6626628,-79.3323698
43.681114,-79.3373885
43.638925,-79.4168659
43.676216,-79.309395
43.652822,-79.378208
43.656311,-79.379158
43.656633,-79.379625
43.686962,-79.286864
43.718039,-79.371914
43.672152,-79.39018
43.673019,-79.467994
43.72268,-79.37644
43.6504218,-79.4407647
43.68850459999999,-79.3940052
43.641705,-79.393295
43.647663,-79.487583
43.6558557,-79.3894093
43.720998,-79.377456
43.72814640000001,-79.4032194
43.652327224103,-79.3882538196087
43.6438602,-79.4227573
43.7093201,-79.3996301
43.64920406876699,-79.49336334201408
43.6503935,-79.3860211
43.6399714,-79.39940399999999
43.68827060022711,-79.43937767081853
43.6614605,-79.37894570000002
43.69413548199171,-79.30058718775287
43.7254665,-79.40115449999999
43.7083577,-79.39886200000001
43.640978,-79.376785
43.63840090000001,-79.4197107
43.7027268,-79.33368089999999
43.70567,-79.310554
43.635,-79.4088888888889
43.65678478285314,-79.35627385059036
43.732016,-79.403637
43.67515255542865,-79.38849615969643
43.67468857448634,-79.36701962396272
43.72736548824631,-79.3814254607724
43.6846177,-79.39245919999999
43.645835578756525,-79.32088910859937
43.77345,-79.5002
43.686442,-79.313404
43.66402799999999,-79.40297869999999
43.6544839,-79.34105699999999
43.6481303,-79.38632
43.65049,-79.3873
43.64134790000001,-79.4013882
43.64215,-79.377
43.663337,-79.446444
43.6392777,-79.4115736
43.645102,-79.39744979999999
43.6602021,-79.4342726
43.644887,-79.45641169999999
43.680012,-79.34403250000001
43.641952,-79.380723
43.637381,-79.406112
43.63811,-79.397877
43.64957,-79.432446
43.64191,-79.378325
43.6700692,-79.2971326
43.6559476,-79.37558829999999
43.707212,-79.2952873
43.6677628,-79.30811709999999
43.6750806,-79.3068697
43.6754247,-79.4547813
43.6467433,-79.446895
43.6409957,-79.40966630000001
43.6593483,-79.34993659999999
43.67168,-79.421192
43.652634,-79.374222
43.6519501,-79.4060978
43.6613642,-79.3641171
43.6808774,-79.3304491
43.6623658,-79.3413344
43.6791345,-79.3263159
43.6478206,-79.3704721
43.635495,-79.40352209999999
43.6868681,-79.3110942
43.678177,-79.435364
43.6962302,-79.39504339999999
43.667076,-79.425116
43.649217,-79.465319
43.68005,-79.43469
43.675648,-79.4527619
43.6677246,-79.4041365
43.66496415990742,-79.38355031526893
43.648437,-79.39838
43.6673,-79.374
43.6517925,-79.38269509999999
43.6372958,-79.4423237
43.6554793,-79.4302462
43.686352,-79.415894
43.6442457,-79.41610440000001
43.7741,-79.5005
43.683979,-79.410657
43.6472019,-79.3953394
43.6513927,-79.35794659999999
43.6647688,-79.3772602
43.6506,-79.381285
43.6408346,-79.3429074
43.6586525,-79.440502
43.6585504,-79.4497659
43.6484201,-79.40051919999999
43.6461512,-79.3998214
43.693187,-79.314283
43.6425791,-79.40011729999999
43.6469251,-79.3733192
43.644395,-79.40065430000001
43.6463574,-79.391206
43.6682342,-79.3702641
43.6791876,-79.39071899999999
43.674446,-79.398331
43.6334636,-79.4143057
43.6352007,-79.4187711
43.6501644,-79.48296909999999
43.636804,-79.408832
43.6658804,-79.38761010000002
43.68035,-79.28357
43.6535052,-79.3667689
43.70241858146351,-79.2563167072858
43.68824135931814,-79.27046628033244
43.691688,-79.265027
43.697490048103,-79.25655146462776
43.69401297794256,-79.26257204548136
43.6929478,-79.28339980000001
43.6950192,-79.27180659999999
43.69263249999999,-79.4627536
43.7105975,-79.2541175
43.69415,-79.45782580000001
43.668500046272165,-79.3946235999697
43.70163,-79.44099
43.688028,-79.460265
43.68323,-79.455765
43.69466,-79.45376999999999
43.6784834,-79.3513564
43.65016869999999,-79.4963345
43.6492,-79.50601999999999
43.6897656,-79.2939525
43.6537513,-79.4028245
43.6357643,-79.4674917
43.64839,-79.51008
43.62369169999999,-79.4838132
43.648657,-79.458111
43.671293,-79.380471
43.69932707258943,-79.4493630391668
43.63560589999999,-79.4934616
43.7611741,-79.5114452
43.6428899,-79.3946346
43.7603624,-79.5162777
43.62313,-79.4918
43.772445,-79.511912
43.653359,-79.365023
43.70643614257429,-79.25104443353288
43.655972,-79.370638
43.666874,-79.381155

In [53]:
yelp_df_list = []
for location in list_yelp_details:
    yelp_df_list.append(pd.DataFrame(location))

In [54]:
yelp_df = pd.concat(yelp_df_list)
yelp_df.to_csv('C:/Users/John/Documents/LHL Lecture Material/Stats-Model-Project/data/yelp_transit_df.csv', index=False)
yelp_df

,name,address,yelp_num_stations,coordinates
0,Union Station,65 Front Street W,7.0,"43.653236,-79.376716"
1,VIA Rail Canada,65 Front Street W,7.0,"43.653236,-79.376716"
2,Queen Station,171 Yonge Street,7.0,"43.653236,-79.376716"
3,Dundas Station,"Toronto, ON M5B 1J3",7.0,"43.653236,-79.376716"
4,St Patrick Subway Station,449 University Avenue,7.0,"43.653236,-79.376716"
...,...,...,...,...
1,Bloor-Yonge Subway Station,20 Bloor Street E,6.0,"43.666874,-79.381155"
2,Wellesley Subway Station,16 Wellesley Street E,6.0,"43.666874,-79.381155"
3,Dundas Station,"Toronto, ON M5B 1J3",6.0,"43.666874,-79.381155"
4,Bay Subway Station,1240 Bay Street,6.0,"43.666874,-79.381155"
5,Queen's Park Subway Station,129 College Street,6.0,"43.666874,-79.381155"

In [56]:
yelp_df.describe()

       yelp_num_stations
count        1248.000000
mean            4.480769
std             2.050591
min             1.000000
25%             3.000000
50%             5.000000
75%             6.000000
max             8.000000

In [57]:
fsquare_df.describe()

       num_of_stations
count      1260.000000
mean          2.744444
std           2.142225
min           0.000000
25%           0.000000
50%           3.000000
75%           4.000000
max           7.000000